<!-- <p>home works!</p> -->
<div class="overlay"></div>
<div class="root-container">
  <div class="navbar">
    <div class="nav-items">
      <a routerLink="experience" class="nav-item">Experience</a>
      <a routerLink="skills" class="nav-item">Skills & Interest</a>
      <a routerLink="contact" class="nav-item">Contact</a>
    </div>
  </div>

  <div class="container">
    
    <h4 class="short-bio">UW Alumni | Full Stack Developer | Sports Collector</h4>
    <div class="name">
      <p>
        Robin Lu
      </p>
      <!-- <div class="strip"></div> -->
    </div>
    <!-- <app-robin-icon class="dp-logo"></app-robin-icon> -->

    <span (click)="onExploreMeClick()" (mouseover)="startTadaAnimation = false" [ngClass]="{'tada-animation':startTadaAnimation}">
      <button routerLink="collection" class="special-btn">
        <span>
          Check my collection
        </span>
      </button>
    </span>

    <div class="stick">
      <div class="stick-design"></div>
    </div>
  </div>

</div>